.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev {
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffffff;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;
}

.next {
    display: inline-flex;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.75rem;
    background-color: #ffffff;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #D1D5DB;


}