.pokeDetail-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    background-color: rgba(0, 128, 0, 0.363);
}


/*End of Card Colors*/

.pokeDetail-card {
    z-index: 600;
    background: #fff;
    padding: 0px;
    border-radius: 25px;
    box-shadow: 2px 0px 12px 4px rgba(255, 255, 255, 0.4);
    min-width: 500px;
    max-width: 500px;
    overflow: hidden;
}

.pokeDetail-top-container {
    padding-top: 30px;
    width: 100%;
}

.pokeDetail-ui-container {
    padding: 15px 30px 25px;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokeDetail-ui-container a {
    color: #ffffff;
}

.pokeDetail-title-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.pokeDetail-title-container {
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}


.pokeDetail-title-container .titleName {
    font-size: 1.8rem;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.pokeDetail-title-container .number {
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.pokeDetail-types-container {
    width: 100%;
    display: flex;
    padding: 15px 30px 0px 22px;
}

.pokeDetail-type-tab {
    background: rgba(255, 255, 255, 0.25);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    color: white;
    border-radius: 20px;
    margin: 10px 8px;
    text-transform: capitalize;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    line-height: 100%;
    font-size: 0.92rem;
    box-shadow: 4px 6px 15px rgb(0 0 0 / 10%);
}

.pokeDetail-type-tab img {
    width: 20px;
}

.pokeDetail-img-container {
    display: flex;
    justify-content: center;
    padding: 15px 15px 0px;
}

.pokeDetail-img {
    position: relative;
    z-index: 10;
    width: 220px;
}

.pokeDetail-img.waiting {
    filter: opacity(0.3);
}

.pokeDetail-img.false {
    filter: brightness(0);
}

.pokeball-icon-white {
    position: absolute;
    top: 0;
    right: 0;
    width: 470px;
    transform: translateX(28%) translateY(-20%);
    opacity: 0;
    z-index: -1;
    animation: iconOpacity 400ms linear 100ms 1 forwards;
}

@keyframes iconOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.3;
    }
}

.pokeDetail-info-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: -25px;
    z-index: 5;
    background-color: #ffffff;
    min-height: 250px;
    padding: 20px 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.pokeDetail-info-container.blocked-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeDetail-tabsInfo-container {
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabInfo {
    width: 25%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: solid #e9e9e9 2px;
    cursor: pointer;
}

/*Tabs Active Border Color*/

.tabInfo.active h4 {
    color: #343a40;
}

.tabInfo h4 {
    color: #343a40;
    color: #b9b8b8;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.91rem;
    transition: color 400ms;
}

.content-info-container {
    padding: 5px 0px;
    overflow: auto;
    display: flex;
    flex-grow: 2;
}

.content-info-container::-webkit-scrollbar-track,
.content-about.active::-webkit-scrollbar-track,
.content-stats.active::-webkit-scrollbar-track,
.content-moves.active::-webkit-scrollbar-track,
.content-evolution.active::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.content-info-container::-webkit-scrollbar,
.content-about.active::-webkit-scrollbar,
.content-stats.active::-webkit-scrollbar,
.content-moves.active::-webkit-scrollbar,
.content-evolution.active::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.content-info-container::-webkit-scrollbar-thumb,
.content-about.active::-webkit-scrollbar-thumb,
.content-stats.active::-webkit-scrollbar-thumb,
.content-moves.active::-webkit-scrollbar-thumb,
.content-evolution.active::-webkit-scrollbar-thumb {
    height: 40px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ebe6e6;
    border: 1px solid #f5f5f5;
    transition: background-color 400ms;
    will-change: background-color;
}

.content-info-container::-webkit-scrollbar-thumb:hover,
.content-about.active::-webkit-scrollbar-thumb:hover,
.content-stats.active::-webkit-scrollbar-thumb:hover,
.content-moves.active::-webkit-scrollbar-thumb:hover,
.content-evolution.active::-webkit-scrollbar-thumb:hover {
    background-color: #bebebe;
}

.content-about,
.content-stats,
.content-moves,
.content-evolution {
    display: none;
}

.content-about.active,
.content-stats.active,
.content-moves.active,
.content-evolution.active {
    display: block;
    width: 100%;
    max-height: 130px;
}

.content-evolution.active {
    margin-top: auto;
    margin-bottom: auto;
}

.pokeInfo-notLoaded {
    width: 40px;
    height: 40px;
    border: solid 4px #a7db8d;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: pokeball-notloaded-spin infinite 10s linear;
}

.pokeInfo-notLoaded .ball {
    width: 39px;
    height: 2px;
    background-color: #a7db8d;
}

.pokeInfo-notLoaded .line {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: solid 3px #a7db8d;
    position: absolute;
    background-color: white;
}

/*Pokeball Not Loaded*/

@keyframes pokeball-notloaded-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.about-subtitle {
    color: #343a40;
    opacity: 0.65;
    font-family: "Lato", sans-serif;
    font-weight: 600;
}

.about-stat {
    color: #343a40;
    text-transform: capitalize;
    margin-left: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

.about-container {
    max-height: 130px;
}

.subtitle-container {
    display: flex;
    padding: 8px 0;
}

.subtitle-container .subtitle {
    color: #343a40;
    opacity: 0.65;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    width: 155px;
    font-size: 0.95rem;
}

.subtitle-container .description {
    color: #343a40;
    text-transform: capitalize;
    margin-left: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 0.95rem;
}

.about-title-container ul li {
    color: #343a40;
    opacity: 0.65;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding: 3px;
    text-transform: capitalize;
    font-size: 0.95rem;
}

.about-title-container ul {
    display: flex;
    list-style: none;
}

.about-title-container ul li:last-child span {
    display: none;
}

.about-title-container .title {
    color: #343a40;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 1.08rem;
    padding: 10px 0;
}

.detail-images-container {
    width: 100%;
    display: flex;
    padding: 5px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.stat-titles-container {
    display: flex;
}

.stat-name {
    color: #343a40;
    opacity: 0.65;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    width: 175px;
    font-size: 0.95rem;
    text-transform: uppercase;
}

.stat-value {
    color: #343a40;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 0.95rem;
}

.stat-bar-container {
    width: 40%;
    height: 4px;
    margin-right: 10px;
    border-radius: 10px;
    position: relative;
}

.stat-bar-parent {
    height: 100%;
    width: 50%;
    position: relative;
    transform: scaleX(0.001);
    transform-origin: left;
    animation: scaleBar 1500ms ease-in-out 1 forwards;
}

@keyframes scaleBar {
    0% {
        transform: scaleX(0.001);
    }

    100% {
        transform: scaleX(1);
    }
}

.stat-bar-fill {
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 10px;
    position: relative;
    left: -1%;
    transform: scaleX(0.01);
    transform-origin: top left;
    animation: fillBG 500ms ease-out 1 forwards;
}

@keyframes fillBG {
    0% {
        transform: scaleX(0.01);
    }

    100% {
        transform: scaleX(1);
    }
}

.stat-bar-bg {
    top: 0;
    left: 0;
    position: absolute;
    width: 98%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/*Bar Stat Type*/

/*Bar Stat Type*/

.check-x {
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.img-egg {
    width: 25px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 4px;
    border-radius: 50%;
}

.egg-title {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #343a40;
    opacity: 0.65;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    width: 155px;
    font-size: 0.95rem;
    padding: 8px 0;
}

@media only screen and (max-width: 1600px) {
    .pokeDetail-card {
        min-width: 450px;
    }

    .pokeball-icon-white {
        width: 440px;
    }

    .pokeDetail-top-container {
        padding-top: 15px;
    }

    .pokeDetail-ui-container {
        padding: 10px 30px 10px;
    }

    .pokeDetail-types-container {
        padding: 10px 30px 0px 18px;
    }

    .pokeDetail-img-container {
        padding: 10px 15px 0px;
    }

    .pokeDetail-img {
        width: 190px;
    }

    .pokeDetail-info-container {
        padding: 15px 30px;
        min-height: 200px;
        top: -20px;
    }
}

@media only screen and (max-width: 1025px) {
    .pokeDetail-card {
        min-width: 450px;
    }

    .pokeball-icon-white {
        width: 440px;
    }

    .pokeDetail-top-container {
        padding-top: 25px;
    }

    .pokeDetail-ui-container {
        padding: 20px 30px 20px;
    }

    .pokeDetail-types-container {
        padding: 20px 30px 0px 24px;
    }

    .pokeDetail-img-container {
        padding: 15px 15px 0px;
    }

    .pokeDetail-img {
        width: 200px;
    }

    .pokeDetail-info-container {
        padding: 20px 30px;
        min-height: 250px;
        top: -20px;
    }
}

@media only screen and (max-width: 767px) {
    .pokeball-icon-white {
        width: 300px;
        transform: translateX(30%) translateY(-20%);
    }

    .pokeDetail-card {
        min-width: 90%;
        width: 90%;
        max-width: 400px;
    }

    .pokeDetail-top-container {
        padding-top: 15px;
    }

    .pokeDetail-ui-container {
        padding: 10px 25px 10px;
    }

    .pokeDetail-types-container {
        padding: 10px 25px 0px 18px;
    }

    .pokeDetail-title-container {
        padding: 0 25px;
    }

    .pokeDetail-img-container {
        padding: 10px 15px 0px;
    }

    .pokeDetail-img {
        width: 190px;
    }

    .pokeDetail-type-tab {
        font-size: 1rem;
    }

    .pokeDetail-title-container .number {
        font-size: 1.4rem;
    }

    .pokeDetail-info-container {
        padding: 15px 25px;
        min-height: 220px;
        top: -20px;
    }

    .subtitle-container .subtitle {
        width: 120px;
    }

    .stat-container {
        align-items: flex-start;
        flex-direction: column;
    }

    .stat-name {
        width: 105px;
    }

    .stat-value {
        display: none;
    }

    .stat-bar-container {
        width: 85%;
        margin: 10px 0;
    }

    .detail-images-container img {
        max-width: 60px;
    }

    .img-egg {
        width: 20px;
    }

    .pokeDetail-type-tab img {
        width: 17px;
    }
}