.pokeDetail-container.grass {
    background: linear-gradient(to right,
            rgba(41, 255, 198, 0.75),
            rgba(32, 227, 178, 0.75),
            rgba(12, 235, 235, 0.75));
}

.pokeDetail-container.fire {
    background: linear-gradient(to right,
            rgba(245, 175, 25, 0.75),
            rgba(241, 39, 17, 0.75));
}

.pokeDetail-container.water {
    background: linear-gradient(to right,
            rgba(47, 128, 237, 0.75),
            rgba(86, 204, 242, 0.75));
}

.pokeDetail-container.electric {
    background: linear-gradient(90deg,
            rgba(250, 224, 120, 0.75),
            rgba(248, 208, 48, 0.75),
            rgba(247, 174, 18, 0.75));
}

.pokeDetail-container.bug {
    background: linear-gradient(to right,
            rgba(141, 194, 111, 0.75),
            rgba(118, 184, 82, 0.75));
}

.pokeDetail-container.dragon {
    background-image: linear-gradient(315deg,
            rgba(31, 209, 249, 0.75) 0%,
            rgba(182, 33, 254, 0.75) 74%);
}

.pokeDetail-container.fairy {
    background: linear-gradient(to right,
            rgba(255, 221, 225, 0.9),
            rgba(238, 156, 167, 0.9));
}

.pokeDetail-container.ghost {
    background: linear-gradient(to right,
            rgba(51, 51, 153, 0.85),
            rgba(255, 0, 204, 0.85));
}

.pokeDetail-container.ground {
    background: linear-gradient(to right,
            rgba(255, 212, 82, 0.85),
            rgba(84, 74, 125, 0.85));
}

.pokeDetail-container.ice {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.75),
            rgba(109, 213, 250, 0.75),
            rgba(41, 128, 185, 0.75));
}

.pokeDetail-container.normal {
    background: linear-gradient(to right,
            rgba(222, 203, 164, 0.8),
            rgba(62, 81, 81, 0.8));
}

.pokeDetail-container.poison {
    background: linear-gradient(to right,
            rgba(253, 239, 249, 0.85),
            rgba(236, 56, 188, 0.85),
            rgba(115, 3, 192, 0.85),
            rgba(3, 0, 30, 0.85));
}

.pokeDetail-container.psychic {
    background: linear-gradient(to right,
            rgba(75, 192, 200, 0.85),
            rgba(199, 121, 208, 0.85),
            rgba(254, 172, 94, 0.85));
}

.pokeDetail-container.rock {
    background: linear-gradient(315deg,
            rgba(255, 255, 252, 0.85) 0%,
            rgba(190, 183, 164, 0.85) 74%);
}

.pokeDetail-container.steel {
    background: linear-gradient(315deg,
            rgba(184, 198, 219, 0.85) 0%,
            rgba(245, 247, 250, 0.85) 74%);
}

.pokeDetail-container.fighting {
    background: linear-gradient(to right,
            rgba(227, 93, 91, 0.85),
            rgba(229, 57, 53, 0.85));
}

.pokeDetail-container.flying {
    background: linear-gradient(to right,
            rgba(142, 84, 233, 0.85),
            rgba(71, 118, 230, 0.85));
}

.pokeDetail-container.dark {
    background: linear-gradient(to right,
            rgba(93, 38, 193, 0.85),
            rgba(161, 127, 224, 0.85),
            rgba(89, 193, 115, 0.85));
}

/*Start of Card Colors*/
.pokeDetail-top-container.grass {
    background-color: #a7db8d;
}

.pokeDetail-top-container.fire {
    background-color: #f5ac78;
}

.pokeDetail-top-container.water {
    background-color: #9db7f5;
}

.pokeDetail-top-container.electric {
    background-color: #fae078;
}

.pokeDetail-top-container.bug {
    background-color: #c6d16e;
}

.pokeDetail-top-container.dragon {
    background-color: #a27dfa;
}

.pokeDetail-top-container.fairy {
    background-color: rgba(238, 153, 172, 0.8);
}

.pokeDetail-top-container.ghost {
    background-color: #a292bc;
}

.pokeDetail-top-container.ground {
    background-color: #ebd69d;
}

.pokeDetail-top-container.ice {
    background-color: #98d8d8;
}

.pokeDetail-top-container.normal {
    background-color: #c6c6a7;
}

.pokeDetail-top-container.poison {
    background-color: #c183c1;
}

.pokeDetail-top-container.psychic {
    background-color: #fa92b2;
}

.pokeDetail-top-container.rock {
    background-color: #d1c17d;
}

.pokeDetail-top-container.steel {
    background-color: #d1d1e0;
}

.pokeDetail-top-container.fighting {
    background-color: #d67873;
}

.pokeDetail-top-container.flying {
    background-color: #a890f0;
}

.pokeDetail-top-container.dark {
    background-color: #52494c;
}


/*Tabs Active Border Color*/

.tabInfo.active.grass {
    border-color: #78c850;
}

.tabInfo.active.fire {
    border-color: #f08030;
}

.tabInfo.active.water {
    border-color: #6890f0;
}

.tabInfo.active.electric {
    border-color: #f8d030;
}

.tabInfo.active.bug {
    border-color: #a8b820;
}

.tabInfo.active.dragon {
    border-color: #7038f8;
}

.tabInfo.active.fairy {
    border-color: #ee99ac;
}

.tabInfo.active.ghost {
    border-color: #705898;
}

.tabInfo.active.ground {
    border-color: #e0c068;
}

.tabInfo.active.ice {
    border-color: #98d8d8;
}

.tabInfo.active.normal {
    border-color: #a8a878;
}

.tabInfo.active.poison {
    border-color: #a040a0;
}

.tabInfo.active.psychic {
    border-color: #f85888;
}

.tabInfo.active.rock {
    border-color: #b8a038;
}

.tabInfo.active.steel {
    border-color: #b8b8d0;
}

.tabInfo.active.fighting {
    border-color: #c03028;
}

.tabInfo.active.flying {
    border-color: #a890f0;
}

.tabInfo.active.dark {
    border-color: #3a2d26;
}

/*Pokeball Not Loaded*/
.pokeInfo-notLoaded.grass,
.pokeInfo-notLoaded.grass .line {
    border-color: #78c850;
}

.pokeInfo-notLoaded.grass .ball {
    background-color: #78c850;
}

.pokeInfo-notLoaded.fire,
.pokeInfo-notLoaded.fire .line {
    border-color: #f08030;
}

.pokeInfo-notLoaded.fire .ball {
    background-color: #f08030;
}

.pokeInfo-notLoaded.water,
.pokeInfo-notLoaded.water .line {
    border-color: #6890f0;
}

.pokeInfo-notLoaded.water .ball {
    background-color: #6890f0;
}

.pokeInfo-notLoaded.electric,
.pokeInfo-notLoaded.electric .line {
    border-color: #f8d030;
}

.pokeInfo-notLoaded.electric .ball {
    background-color: #f8d030;
}

.pokeInfo-notLoaded.bug,
.pokeInfo-notLoaded.bug .line {
    border-color: #a8b820;
}

.pokeInfo-notLoaded.bug .ball {
    background-color: #a8b820;
}

.pokeInfo-notLoaded.dragon,
.pokeInfo-notLoaded.dragon .line {
    border-color: #7038f8;
}

.pokeInfo-notLoaded.dragon .ball {
    background-color: #7038f8;
}

.pokeInfo-notLoaded.fairy,
.pokeInfo-notLoaded.fairy .line {
    border-color: #ee99ac;
}

.pokeInfo-notLoaded.fairy .ball {
    background-color: #ee99ac;
}

.pokeInfo-notLoaded.ghost,
.pokeInfo-notLoaded.ghost .line {
    border-color: #705898;
}

.pokeInfo-notLoaded.ghost .ball {
    background-color: #705898;
}

.pokeInfo-notLoaded.ground,
.pokeInfo-notLoaded.ground .line {
    border-color: #e0c068;
}

.pokeInfo-notLoaded.ground .ball {
    background-color: #e0c068;
}

.pokeInfo-notLoaded.ice,
.pokeInfo-notLoaded.ice .line {
    border-color: #98d8d8;
}

.pokeInfo-notLoaded.ice .ball {
    background-color: #98d8d8;
}

.pokeInfo-notLoaded.normal,
.pokeInfo-notLoaded.normal .line {
    border-color: #a8a878;
}

.pokeInfo-notLoaded.normal .ball {
    background-color: #a8a878;
}

.pokeInfo-notLoaded.poison,
.pokeInfo-notLoaded.poison .line {
    border-color: #c183c1;
}

.pokeInfo-notLoaded.poison .ball {
    background-color: #c183c1;
}

.pokeInfo-notLoaded.psychic,
.pokeInfo-notLoaded.psychic .line {
    border-color: #f85888;
}

.pokeInfo-notLoaded.psychic .ball {
    background-color: #f85888;
}

.pokeInfo-notLoaded.rock,
.pokeInfo-notLoaded.rock .line {
    border-color: #b8a038;
}

.pokeInfo-notLoaded.rock .ball {
    background-color: #b8a038;
}

.pokeInfo-notLoaded.steel,
.pokeInfo-notLoaded.steel .line {
    border-color: #b8b8d0;
}

.pokeInfo-notLoaded.steel .ball {
    background-color: #b8b8d0;
}

.pokeInfo-notLoaded.fighting,
.pokeInfo-notLoaded.fighting .line {
    border-color: #c03028;
}

.pokeInfo-notLoaded.fighting .ball {
    background-color: #c03028;
}

.pokeInfo-notLoaded.flying,
.pokeInfo-notLoaded.flying .line {
    border-color: #a890f0;
}

.pokeInfo-notLoaded.flying .ball {
    background-color: #a890f0;
}

.pokeInfo-notLoaded.dark,
.pokeInfo-notLoaded.dark .line {
    border-color: #3a2d26;
}

.pokeInfo-notLoaded.dark .ball {
    background-color: #3a2d26;
}

