.tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.h1-tittle {
    margin: 2em 0
}

.button-play {
    font-size: larger;
    height: 5rem;
    width: 18rem;
}

.div-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-count .align-count {
    display: flex;
    flex-direction: column;
}

.timer {
    display: flex;
}