#root {
  margin: auto
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 5rem;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;

}