#root {
 width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 5rem;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;

}