#root {
  margin: auto
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 5rem;
  height: auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: whitesmoke;
  -webkit-box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c90c0c;
}